<div fxLayout="row" fxFlexFill>
  <mat-drawer-container class="example-container" fxLayout="column" fxFlex>
    <mat-drawer mode="side" [opened]="isMenuOpen" class="app-sidenav">
      <mat-card>
        <mat-card-title>Sports Venues</mat-card-title>
        <mat-card-subtitle>A small list</mat-card-subtitle>
      </mat-card>
      <mat-nav-list dense>
        <span *ngFor="let i of navItems">
          <h3 matSubheader>{{ i.title }}</h3>
          <a mat-list-item *ngFor="let n of i.locations" (click)="onGotoLocation(n.location, n.zoom)">
            {{ n.title }}
          </a>
        </span>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content fxLayout="column">
      <mat-toolbar fxLayout="row" color="primary">
        <button mat-icon-button (click)="onMenuToggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h3>ESRI Starter</h3>
      </mat-toolbar>
      <div fxFlex fxLayout="row">
        <div class="floating-panel">
          <router-outlet></router-outlet>
        </div>
        <app-arcmap fxFlex></app-arcmap>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
