/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "https://js.arcgis.com/4.24/@arcgis/core/assets/esri/themes/dark/main.css";
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

